.card {
  width: 120px;
  flex: none;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  background-color: transparent;
  position: relative;
  cursor: pointer;

  &.grow {
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.card:hover {
  box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.2);
}

.imageContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  background-color: #f8f9fa;
}

.image {
  width: 100%;
  display: block;
  border-radius: 4px;
}

.favoriteButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating {
  position: absolute;
  top: 163px;
  left: 5px;
  background-color: #1a2585;
  color: #f8f9fa;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  z-index: 1;
}

.info {
  padding-top: 4px;
  background-color: transparent;
  font-size: 12px;
}

.info:hover {
  color: #4b4bca;
}

.title {
  font-size: 13px;
  margin: 15px 0 0 0;
}

.genre {
  font-size: 11px;
  color: #666;
}

.placeholder {
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  font-size: 48px;
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

@media (min-width: 769px) {
  .card {
    width: 140px;
  }

  .imageContainer {
    height: 200px;
  }

  .favoriteButton {
    font-size: 15px;
  }

  .rating {
    bottom: -20px;
    left: 6px;
    width: 33px;
    height: 33px;
    font-size: 13px;
  }

  .info {
    padding-top: 8px;
    font-size: 14px;
  }

  .title {
    font-size: 15px;
  }

  .genre {
    font-size: 13px;
  }

  .placeholder {
    font-size: 55px;
  }
}

@media (prefers-color-scheme: dark) {
  .imageContainer {
    background-color: #282828;
  }
  .rating {
    background-color: #a688fa;
    color: #212529;
  }

  .info:hover {
    color: #a688fa;
  }

  .genre {
    color: #6c757d;
  }
}
