* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
textarea,
select {
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}
